:root {
  --radius: 0.4rem;
}

a {
  text-decoration: none;
  color: white;
}

@font-face {
  font-family: monsterMedium;
  src: url("../fonts/Montserrat/Montserrat-Medium.ttf");
}

.article_container {
  cursor: pointer;
  padding: 1rem;
  margin: 50px auto;
  max-width: 85%;
  display: -ms-grid;
  display: grid;
  gap: 2rem;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-auto-rows: auto;
}

@media (max-width: 900px) {
  .article_container {
    max-width: 95%;
    grid-auto-rows: -webkit-max-content;
    grid-auto-rows: max-content;
  }
}

.article_container .card_body {
  -webkit-transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
  color: white;
  width: 100%;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-bottom: 0.4rem;
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
}

.article_container .card_body:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

.article_container .card_body .card_image {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 100%;
  height: 40%;
}

.article_container .card_body .card_image img {
  border-top-left-radius: var(--radius);
  border-top-right-radius: var(--radius);
  width: 100%;
  height: 100%;
}

.article_container .card_body .article_heading {
  text-align: left;
  font-family: monsterFont;
  margin: 0.4rem 1rem;
  font-size: 1.2rem;
  line-height: 1.8rem;
}

.article_container .card_body .article_heading h5 {
  font-weight: 100;
}

.article_container .card_body .article_content {
  width: 93%;
  font-family: monsterMedium;
  margin: 0.4rem 1rem;
}

.article_container .card_body .article_content p {
  color: rgba(255, 255, 255, 0.7);
  font-size: 0.8rem;
  line-height: 1.8;
}

.article_container .card_body .author_share {
  font-family: monsterMedium;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.article_container .card_body .author_share .author {
  border-radius: 1000px;
  margin-top: 1rem;
  font-size: small;
  margin-left: 1rem;
  padding: 0.4rem 0.6rem;
  background: rgba(0, 0, 0, 0.4);
  color: rgba(255, 255, 255, 0.3);
}

.article_container .card_body .author_share .shareButton {
  margin-top: 1rem;
  margin-right: 1rem;
}

.login_header {
  font-size: 2.3rem;
  font-family: monsterMedium;
  color: white;
  text-align: center;
}

.login_container {
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.459));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.459));
  padding: 1rem;
  border-radius: 0.4rem;
  background-color: #000000;
  margin: 16vh auto;
  font-family: monsterMedium;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 80vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 1rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 806px) {
  .login_container {
    margin: 14vh 1rem;
  }
}

.login_container input {
  color: white;
  background: #000000;
  border: 2px solid #5f80dc;
  margin: 0.7rem;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.8rem 0.4rem;
}

.login_container input::-webkit-input-placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.login_container input:-ms-input-placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.login_container input::-ms-input-placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.login_container input::placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.login_container label {
  font-weight: 200;
  color: white;
  width: 90%;
}

.login_container button {
  font-size: large;
  cursor: pointer;
  color: white;
  font-family: monsterMedium;
  border: none;
  padding: 0.7rem 6rem;
  margin: 1rem;
  border-radius: 0.2rem;
  background: #ff005e;
  -webkit-filter: drop-shadow(0px 4px 5px rgba(255, 0, 94, 0.5));
          filter: drop-shadow(0px 4px 5px rgba(255, 0, 94, 0.5));
}

.signup_container {
  -webkit-filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.459));
          filter: drop-shadow(0px 10px 20px rgba(0, 0, 0, 0.459));
  padding: 1.3rem;
  border-radius: 0.4rem;
  background-color: rgba(0, 0, 0, 0.4);
  font-family: monsterMedium;
  margin: 50px auto;
  max-width: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 806px) {
  .signup_container {
    margin: 16vh 1rem;
  }
}

.signup_container label {
  width: 90%;
  color: white;
}

.signup_container input {
  color: white;
  background: #000000;
  border: 2px solid #5f80dc;
  margin: 0.7rem;
  width: 90%;
  border-radius: 0.2rem;
  padding: 0.8rem 0.4rem;
}

.signup_container input::-webkit-input-placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.signup_container input:-ms-input-placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.signup_container input::-ms-input-placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.signup_container input::placeholder {
  font-family: monsterMedium;
  color: rgba(255, 255, 255, 0.3);
}

.signup_container button {
  font-size: large;
  cursor: pointer;
  color: white;
  font-family: monsterMedium;
  border: none;
  padding: 0.7rem 6rem;
  margin: 1rem;
  border-radius: 0.2rem;
  background: #0077ff;
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0, 162, 255, 0.5));
          filter: drop-shadow(0px 0px 5px rgba(0, 162, 255, 0.5));
}

.custom_msg {
  color: white;
  font-family: monsterMedium;
  border-radius: 0.2rem;
  margin: 10px auto;
  max-width: 75vh;
  padding: 0.8rem;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

@media (max-width: 806px) {
  .custom_msg {
    margin: 10px 1rem;
  }
}
/*# sourceMappingURL=article.css.map */